#extends("main_layout.vm")
#block("js")
#end
#block("header")
<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu-1">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Open Timetable</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#">Item A</a></li>
				<li><a href="#">Item B</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span> ceeflyer</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
			</ul>
		</div>
	</div>
</nav>
#end
#block("body")

#end
