<nav class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Open Timetable</a>
		</div>
		<ul class="nav navbar-nav">
			
		</ul>
	</div>
<nav>